.main-content{
  width: var(--main-container-width);
  text-align: center;
}
.main-content__title{
  margin-bottom: 2rem;
}
#content {
  height: 60vh;
  background: white;
  border-radius: .3em;
  border: .2rem solid #617D5E;
  margin: 0 3.2rem;
}
